$primary_blue:#046080;
$secondary_blue:#EDF9FA;
$blue1:#B8DAE5;
$blue2:#E6F1F5;
$blue3:#4EC3CD;
$blue4:#D8EBF2;
$blue5:#CDDFE6;
$white: #FCFCFC;
$white1: #FFFFFF;
$white2:#E5E5E5;
$white3:#F2F2F2;
$dark:#030303;
$black: #000000;
$dark2:#191919;
$yellow: #FFDB00;
$gray:#4C4C4C;
$gray2: #B3B3B3;
